.features {
  display: flex;
  align-items: center;
<<<<<<< HEAD
  padding: 2rem 0;
=======
  padding: 4rem 0;
>>>>>>> 8602677 (Ajustes de rota, links e conteúdo da homepage)
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
